.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9792E3;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #C7DBE6;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #4464AD;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: solid 1px #CFCFCF;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: solid 1px red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.phone,
.address {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password,
.phone,
.address {
  width: 100%;
}

.submit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-form button {
  background-color: #e8aeb7;
  color: #555;
  border: solid 2px #fff;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 10px 0;
  font-size: 1em;
  font-weight: lighter;
}

.submit-form button:hover {
  color: #e8aeb7;
  background-color: #555;
  border: solid 2px #e8aeb7;
}